/*
* @Author: yanni
* @Date:   2019-03-01 16:41:36
* @Last Modified by:   frozen521
* @Last Modified time: 2019-03-05 10:05:24
*/


.myi{


}
.mybody {
    background-image: url('img/Snipaste2019年2月23日-18点47分01秒290毫秒.png');
    background-color: #d32342;
    background-repeat: no-repeat;
   background-attachment: fixed;
    margin-right: 200px;

}

h1 {
    color: green;
    text-align: center;
    text-shadow: 3px 4px 5px #000;
    text-transform: lowercase;
}

p.date {
    text-align: right;
    font-family: 'Microsoft Yahei', serif;
    font-size: 30px;
}
p.main{
    text-indent: 200px;
    text-align: justify;
}
